html
  head.index-head
    style(type="text/css")
      include ../theme/post.css
    title#index-title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body.index-body
    div.container.index-container
      div.content.index-content
        each post in data
          article
            h1.blog-post-title 
              a(href='/post/'+post.filename) #{post.title}
            h5.blog-post-meta #{post.date} by #{post.author}
            if (post.tags)
              h5.blog-post-meta Tagged 
                for tag in post.tags
                  span.blog-post-meta 
                  a(href='/tag/' + tag) #{tag}
            //Uncomment to show post description in index  
            //h4.blog-post!= post.description