html
  head.blog-post-head
    style(type="text/css")
      include ../theme/post.css

    title.blog-post-title #{post.title}
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/theme/post.css')
  body
    div.container#post-container
      a(href='/') Back to index
      h2.blog-post-title #{post.title}
      h5.blog-post-meta Written #{post.date} by #{post.author}
      if (post.tags)
        h5.blog-post-meta Tagged 
          for tag in post.tags
            span.blog-post-meta 
            a(href='/tag/' + tag) #{tag}
      div.content.blog-post!= post.content